.layout-canva {
    height: 100vh !important;
    width: 100vw;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.layout-container {
    height: 100% !important;
    width: 100% !important;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.layout-scroll {
    height: 100% !important;
    display: flex;
    flex-direction: column;
    overflow: auto;
}