$primary: #007bff;
$primary-hover: #0069d9;
$secondary: #6c757d;

$light: #f8f9fa;
$text-light: #f8f9fa;

$background-dark: #343a40;
$background-grey: #f8f9fa;
$background-dark-web: #2a2d35;

$border-grey: #dbdbdb;
$border-grey-hover: #cfcfcf;

$succes: #28a745;
$warning: #ffc107;
$error: #dc3545;
$info: #17a2b8;

$youtube: #ff0000;
$twitter: #1da1f2;
$tiktok: #69c9d0;
$linkedin: #0077b5;

$dark: #343a40;
$white: #fff;

